.label-text{

    font-size: 11px;
    color: var(--v-secondary-lighten2);

}
.header{

    color: var(--v-secondary-lighten4)

}
.colored-header{

    color: var(--v-primary-base)

}
.link-not-stylised{

    text-decoration: none;
    color: inherit;

}
.highlighted-portion{

    background-color: var(--v-primary-base);

}
.clickable{

    cursor: pointer;

}
.subheader{

    color: var(--v-secondary-lighten3)

}
.max-2-lines{

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 24px;     /* fallback */
    max-height: 48px;      /* fallback */
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;

}
.max-1-line{

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 24px;     /* fallback */
    max-height: 24px;      /* fallback */
    -webkit-line-clamp: 1; /* number of lines to show */

}
.input-field {
    min-width: 200px;
}
.input-field input[type="text"]{

    color: var(--v-secondary-lighten4)!important;

}
.error-message{

    color: var(--v-error-base);
    font-size: 90%;

}
.underline-on-hover:hover{
    text-decoration: underline;
}

.text-message:hover{
    background-color: var(--v-secondary-darken4);
}

.reveal-on-hover-container .reveal-on-hover{
    display: none;
}

.reveal-on-hover-container:hover .reveal-on-hover{
    display: block;
}


.date{
    color: var(--v-secondary-lighten1);
    font-size: 10px;
}

.date-divider-label{
    font-size:12px;
    color: var(--v-secondary-lighten2);
}

.message-textarea textarea{
    max-height: 150px;
    overflow: auto;
    margin-right: 5px;
    margin-bottom: 10px;
}

::-webkit-scrollbar {
    height: 10px;
    width: 10px;
    background-color: var(--v-secondary-darken4);
}

::-webkit-scrollbar-button {
    display: none;
    width: 0;
    height: 0;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #4a4d52;
    border-radius: 10px;
}

.hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.background-particles {
  
    position
    :
     absolute
    ;
      
    display
    :
     block
    ;
      
    top
    : 0;
      
    left
    : 0;
      
    z-index
    : 0;
    }