.label-text{

    font-size: 70%;
    color: var(--v-secondary-lighten2);

}
.header{

    color: var(--v-secondary-lighten4)

}
.colored-header{

    color: var(--v-primary-base)

}
.subheader{

    color: var(--v-secondary-lighten3)

}
.input-field input[type="text"]{

    color: var(--v-secondary-lighten4)!important;

}
.error-message{

    color: var(--v-error-base);
    font-size: 90%;

}